.css-1ps27e0 p {
  font-size: 1rem;
}

.css-l4vti0 {
  font-size: 0.8125rem !important;
}

.css-a0cuj2 {
  color: #fff !important;
  background-color: #13aa52 !important;
  /* background-color: none; */
}
